* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    padding: 1rem 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    width: 100%;
}
.navbar-brand img {
    height: 40px;
    width: auto;
    max-height: 60px;
}
.container-fluid {
    /*background-color: #ffffff;*/
}
